.About-Me {
    border: 1px solid gray;
    margin: 25px;
    width: 30%;
    padding: 20px;
    margin-left: 50px;
   
}

.About-Me > p {
    text-align: justify;
}
.about {
    display: flex;
    justify-content: center;
}
.avatar {
    width: 30vw;
    height: 30vw;
    border: 1vw solid var(--dark-sienna);
   border-radius: 50%;
  
   
    
}

#About-Me {
    margin-bottom: 100px;
  
}


@media only screen and (max-width: 375px) {
    .About-Me {
        margin: 0 auto;
        width: 50%;
    }
    .about {
        display: block;
        
    }
    .avatar, .avatar2 {
     
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .avatar2 {

       margin-top: -250px;

       margin-left: 75px;
    }
  }