.landing button {
  margin-top: 10%;
}
.hello {
  font-family: var(--links);
  font-size: 5vw;
  background: transparent;
  margin-left: 5%;
}
.hello-holder {
  margin: 5%;
}
.landing-img {
  height: 100vh;
  width: auto;
}
.img-holder {
  overflow: hidden;
}

.landing {
  display: flex;
  height: 100vh;
  background-size: cover;
  text-align: left;
  border-bottom: 1px solid black;
}

.name {
  font-size: 8vw;
  margin: -5% 30% 0 5%;
  text-align: left;
}

.blink {
  font-family: var(--heading);
  animation: blink 1.2s infinite;
  background: transparent;
  font-size: 8vw;
}
@keyframes blink {
  0% {
    color: black;
  }
  49% {
    color: black;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: black;
  }
}

@media only screen and (max-width: 375px) {
  .hello-holder {
    padding-top: 20%;
  }
  .hello {
    font-size: 2vh;
  }
  .landing-img {
    width: 100vw;
  }
}
