@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=Press+Start+2P&display=swap');

* {
  text-align: center;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  font-family: 'DM Mono', monospace;
  font-size: 18px;
  
}

body {
  height: 100%;
  margin-bottom: 100px;
}

p {

  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


a {
    font-size: 24px;
  text-decoration: none;
  color: white;
  margin: 15px;
}